@font-face {
  font-family: 'Brawler';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/brawler/files/brawler-latin-400-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Brawler';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('@fontsource/brawler/files/brawler-latin-700-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url('@fontsource-variable/work-sans/files/work-sans-latin-wght-normal.woff2')
    format('woff2-variations');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url('@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2')
    format('woff2-variations');
}
